In [15]:
import requests

url = 'https://openapi-pico-jrib.onrender.com/pico_w/?count=3
'


r = requests.get(url=url)

if r.status_code == 200:
    print("下載成功")
    data = r.json()

print(data)

下載成功
[{'date': '2024-1-26 8:56:34', 'address': 'chicken_KFC', 'temperature': 21.89482, 'light': 43802.0}, {'date': '2024-1-26 9:11:36', 'address': 'chicken_KFC', 'temperature': 23.76739, 'light': 45115.0}, {'date': '2024-1-26 10:41:21', 'address': 'chicken_KFC', 'temperature': 22.36296, 'light': 45067.0}]

In [16]:
import pandas as pd

pd.DataFrame(data)

                 date      address  temperature    light
0   2024-1-26 8:56:34  chicken_KFC     21.89482  43802.0
1   2024-1-26 9:11:36  chicken_KFC     23.76739  45115.0
2  2024-1-26 10:41:21  chicken_KFC     22.36296  45067.0